
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f4f4f4;
  color: #222;
}

.header {
  background: #111;
  color: #fff;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 font-size: 40px;
 font-weight: bold;
   
}
 
 
 

.search-bar input {
  padding: 10px 15px;
  width: 500px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 15px;
}

.cart {
  font-size: 26px;
  position: relative;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: #ff3d3d;
  color: white;
  padding: 3px 7px;
  font-size: 12px;
  border-radius: 50%;
}

 

.product-grid {
  margin-top: 30px;
  display: grid; 
   gap: 20px;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
}
 

 
 .product-container {
  background: white;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.product-image-container {
  width: 100%;

  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.product-image {
  max-width: 100%;
  height: 100%;
  border-radius: 8px;
}

.product-name {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

 

.product-rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product-rating-stars {
  height: 20px;
  margin-right: 5px;
}

.product-rating-count {
  font-size: 14px;
  color: #555;
}

.product-price {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #007bff;
}

.product-quantity-container select {
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

 

.add-to-cart-button {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.add-to-cart-button:hover {
  background: #0056b3;
}
 
